html{
    box-sizing: border-box;
    
}
body {
    width: 100vw;
    height: 100vh;
}

header{
    height: 80px;
}

#titulo{
    text-align: center;
    vertical-align: middle;
    
}

#container {
    margin: 0 auto;
    border: 5px solid red;
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}

#infoDeJuego {
    width: 40%;
    border: 2px solid blue;
}

#juegoContainer {
    text-align: center;
    width: 60%;
    height: 100%;
}

#highScore {
    text-align: center;
}

#highScore h3 {
    text-decoration: underline;
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}